@charset "utf-8";

@import "bourbon";
@import "base/base";
@import "neat";

body {
  @include clearfix;
  padding: $gutter;
  ::-moz-selection {
    color: $white;
    background: $base-font-color;
  }
  ::selection {
    color: $white;
    background: $base-font-color;
  }
}

figure {
  margin: 0;
}

button {
  @include transition(all 1s);
}

.light {
  color: $light-color;
}

.link {
  color: $base-font-color;
  cursor: pointer;
  @include transition(all 1s);
  &:hover {
    color: $light-color;
  }
}
.centered-navigation .nav-link:first-child {
  margin-left: 0em;
}
.centered-navigation {
  .active a {
    color: transparentize($base-font-color, 0.5) !important;
  }
}

.sidebar-wrapper, .sidenav-wrapper {
  .empty {
    width: 100%;
    height: 1px;
  }
  @include media($large-screen) {
    @include span-columns(3);
    .fixed {
      position: fixed;
    }
  }
}
.cv-sidebar, .sidebar {
  @include media($large-screen) {
    width: 17vw;
    position: fixed;
  }
  .logo {
    width: 25%;
    display: inline;
  }
  .logo-text {
    width: 75%;
    display: inline;
    text-transform: uppercase;
  }
  .header {
    width: 100%;
    display: block;
  }
  .basic-info {
    .name {
      font-weight: $bold-font-weight;
      margin-bottom: $gutter/2;
      text-transform: uppercase;
    }
    .description {
      margin: $gutter/2 0;
    }
    .contact-group, .menu-group {
      font-size: $small-font-size;
      margin-bottom: $gutter/2;
      .menu-item {
        @include transition(color 0.5s);
        font-weight: $bold-font-weight;
      }
      .resume-menu {
        margin-top: $gutter/2;
      }
      .active {
        color: $light-color;
      }
    }
    .social-icons {
      .fa {
        font-size: 1.25em;
        margin-right: 5px;
      }
    }
  }
}

.cv-content {
  @include media($large-screen) {
    @include span-columns(9);
  }
  .info-section {
    margin-bottom: $gutter;
    font-size: $small-font-size;
    .section-header {
      text-transform: uppercase;
      font-weight: $bold-font-weight;
      margin-bottom: 5px;
    }
  }
  .education, .work-experience {
    .edu-item, .work-item {
      margin-bottom: $gutter/2;
      position: relative;
      .uni-name, .degree, .grade, 
      .employer-name, .position {
        display: inline;
      }
      .degree, .position {
        font-style: italic;
      }
      .uni-name, .employer-name {
        font-weight: $bold-font-weight;
      }
      .duties, .projects {
        margin-left: 10px;
        .duty-item, .project-item {
          text-indent: -5px;
          &:before {
            content: "-";
            position: relative;
            left: -5px;
          }
        }
      }
      .right-section {
        display: block;
        position: relative;
        color: $light-color;
        @include media($medium-screen) {
          position: absolute;
          top: 0;
          right: $gutter;
          text-align: right;
          display: block;
          margin-top: 0;
          color: $base-font-color;
        }
      }
    }
  }
}


.home-content {
  @include media($large-screen) {
    @include span-columns(9);
  }
  .info-section {
    margin-bottom: $gutter*3;
    padding-top: $gutter;
    .section-header {
      text-transform: uppercase;
      font-weight: $bold-font-weight;
      @include media($large-screen) {
        text-align: center;
      }
    }
    .section-intro {
      width: 100%;
      text-align: left;
      @include media($large-screen) {
        width: 60%;
        text-align: center;
      }
      margin-left: auto;
      margin-right: auto;
      margin-top: $gutter/2;
      margin-bottom: $gutter;
    }
  }
}

.image-tile-item {
  @include outer-container();
  @include clearfix();
  padding: $gutter 0;
  border-bottom: $base-border;
  .tile-info {
    .title {
      text-transform: uppercase;
    }
    @include media($large-screen) {
      @include span-columns(7);
    }
  }
  .image-tile {
    border: $base-border;
    height:  200px;
    margin-bottom: $gutter/2;
    @include media($large-screen) {
      @include span-columns(5);
      margin-bottom: 0;
    }
  }
  .description {
    margin: $gutter/2 0;
    .link {
      color: $light-color;
      @include transition(color 0.5s);
      &:hover {
        color: $dark-gray;
      }
    }
  }
  .read-btn {
    display: block;
  }
}

.two-col {
  @include outer-container();
  @include clearfix();
  border-bottom: $base-border;
  @include media($large-screen) {
    padding-bottom: $gutter*3;
  }
  .image-tile-item {
    @include media($large-screen) {
      @include span-columns(6);
      @include omega(2n);
      border-bottom: none;
    }
    .image-tile, .tile-info {
      @include span-columns(12);
      @include omega(n);
    }
    .tile-info {
      margin-top: $gutter/2;
    }    
  }
}

.four-col {
  @include outer-container();
  @include clearfix();
  border-bottom: $base-border;
  @include media($large-screen) {
    padding-bottom: $gutter*3;
  }
  .title {
    font-weight: $bold-font-weight;
    font-size: 1em;
    margin-bottom: $gutter/2;
  }
  .image-tile-item {
    @include media($large-screen) {
      @include span-columns(3);
      @include omega(4n);
      border-bottom: none;
    }
    .image-tile, .tile-info {
      @include span-columns(12);
      @include omega(n);
      @include transition(all 1s);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    .subsection-link {
      cursor: pointer;
    }
    .tile-info {
      margin-top: $gutter/2;
    }    
  }
}

.subsection {

  .three-col {
    @include outer-container();
    @include clearfix();

    .gallery-item {
      @include media($large-screen) {
        @include span-columns(4);
        @include omega(3n);
      }
      .image-item {
        width: 100%;
        height: 200px;
        margin: $gutter/2 0;
        @include media($large-screen) {
          height: 250px;
        }
      }
    }
  }
  .image-item-wide {
    @include span-columns(12);
    @include omega(n);
    img {
      display: block;
    }
  }
  .image-item, .image-item-wide {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: $base-border;
  }

}

.portfolio-grid {
  @include outer-container();
  @include clearfix();
  .grid-item {
    @include media($large-screen) {
      @include span-columns(4);
      @include omega(3n);
    }   
    background: black;
    margin-bottom: $gutter/2;
  }
  .grid-item:before{
    content: "";
    display: block;
    padding-top: 100%;
}
}

