<div class="empty"></div>
<header class="cv-sidebar">
  <div class="logo-container">
    <% link_to("/") do %>
        <img src="/images/logo.svg" class="logo">
    <% end %>
  </div>
  <section class="basic-info">
    <h4 class="name">Mew Varissara Ophaswongse</h4>
    <div class="contact-group">
      <% link_to "mailto: #{data.me.email}" do %>
        <div class="link email"><%= data.me.email %></div>
      <% end %>
      <% link_to "/" do %>
        <div class="link site"><%= data.me.site %></div>
      <% end %>
    </div>
    <div class="contact-group social-icons">
      <% link_to data.me.instagram, target: "_blank" do %>
        <i class="link fa fa-instagram"></i>
      <% end %>
      <% link_to data.me.github, target: "_blank" do %>
        <i class="link fa fa-github"></i>
      <% end %>
      <% link_to data.me.linkedin, target: "_blank" do %>
        <i class="link fa fa-linkedin-square"></i>
      <% end %>
      <% link_to data.me.resume, target: "_blank" do %>
        <i class="link fa fa-download"></i>
      <% end %>
    </div>
  </section>
</header>