<div class="image-tile-item">
	<figure class="image-tile" style="background: url('<%= image %>') no-repeat center/cover;"></figure>
	<div class="tile-info">
		<h5 class="header-info title"><%= title %></h5>
	</div>
</div>