<div class="image-tile-item">
	<figure class="image-tile" style="background: url('<%= image %>') no-repeat center/cover;"></figure>
	<div class="tile-info">
		<h5 class="header-info"><%= title %></h5>
		<h5 class="header-info light"><%= subtitle %></h5>
		<p class="description"><%= description %></p>

		<% unless link.blank? %>
			<% link_to link, target: "_blank" do %>
				<button class="read-btn">Read</button>
			<% end %>
		<% end %>

	</div>
</div>