<div class="top-logo">
  <img src="/images/logo.svg"><h1>mewoph</h1>
</div>

<header class="centered-navigation">
  <div class="centered-navigation-wrapper">
    <a href="" class="centered-navigation-menu-button">MENU</a>
    <ul class="centered-navigation-menu">
      <li class="nav-link"><a href="javascript:void(0)">words</a></li>
      <li class="nav-link"><a href="javascript:void(0)">images</a></li>
      <li class="nav-link"><a href="javascript:void(0)">code</a></li>
      <li class="nav-link active"><a href="javascript:void(0)">about</a></li>
    </ul>
  </div>
</header>