<% content_for :title, "mewoph.com" %>
<div class="sidenav-wrapper">
  <div class="empty"></div>
  <header class="sidebar">
    <div class="logo-container">
      <% link_to('/') do %>
        <img src="/images/logo.svg" class="logo">
      <% end %>
    </div>
    <section class="basic-info">
      <% if defined?(title) %>
        <h4 class="title"><%= title %></h4>
      <% else %>
        <h4 class="name">Mew Ophaswongse</h4>
      <% end %>
      <p class="serif description">
        <% description_text = defined?(description) ? description : data.me.tagline %>
        <%= description_text %>
      </p>
      <div class="menu-group">
          <% unless defined?(design_nav) %>
            <div class="menu-item link active" data-type="all">All</div>
            <div class="menu-item link" data-type="code">Code</div>
            <div class="menu-item link" data-type="essay">Essays</div>
            <div class="menu-item link" data-type="letter">Lettering</div>
            <div class="menu-item link" data-type="graphic">Graphic Design</div>
          <% end %>
      </div>
      <div class="contact-group">
        <div class="link-group">
          <% if defined?(design_nav) %>
            <% link_to "/" do %>
              <div class="menu-item link">Works</div>
            <% end %>
            <% link_to "/cv", target: "_blank" do %>
              <div class="menu-item link">Resume</div>
            <% end %>
          <% end %>
        </div>
        <% link_to data.me.instagram, target: "_blank" do %>
          <i class="link fa fa-instagram"></i>
        <% end %>
        <% link_to data.me.github, target: "_blank" do %>
          <i class="link fa fa-github"></i>
        <% end %>
        <% link_to data.me.linkedin, target: "_blank" do %>
          <i class="link fa fa-linkedin-square"></i>
        <% end %>
        <% link_to "mailto: #{data.me.email}" do %>
          <i class="link fa fa-envelope-o"></i>
        <% end %>
      </div>
    </section>
  </header>
</div>