<% content_for :title, "mewoph.com" %>
<div class="sidenav-wrapper">
  <div class="empty"></div>
  <header class="sidebar">
    <div class="logo-container">
      <% link_to("/") do %>
        <img src="/images/logo.svg" class="logo">
      <% end %>
    </div>
    <section class="basic-info">
      <h4 class="name">mewoph.com</h4>
      <div class="menu-group"s>
        <div class="menu-item code-menu link" data-section="#code-section">CODE</div>
        <div class="menu-item words-menu link" data-section="#words-section">WORDS</div>
        <div class="menu-item images-menu link" data-section="#images-section">IMAGES</div>
        <% link_to "/cv" do %>
          <div class="menu-item link">CV</div>
        <% end %>
      </div>
      <div class="contact-group social-icons">
        <% link_to data.me.instagram, target: "_blank" do %>
          <i class="link fa fa-instagram"></i>
        <% end %>
        <% link_to data.me.github, target: "_blank" do %>
          <i class="link fa fa-github"></i>
        <% end %>
        <% link_to data.me.linkedin, target: "_blank" do %>
          <i class="link fa fa-linkedin-square"></i>
        <% end %>
        <% link_to "mailto: #{data.me.email}" do %>
          <i class="link fa fa-envelope-o"></i>
        <% end %>
      </div>
    </section>
  </header>
</div>