<% content_for :title, "mewoph.com" %>
<div class="sidenav-wrapper">
  <div class="empty"></div>
  <header class="sidebar">
    <div class="logo-container">
      <% link_to("/") do %>
        <img src="/images/logo.svg" class="logo">
      <% end %>
    </div>
    <section class="basic-info">
      <h4 class="name">MEWOPH.COM</h4>
      <p class="serif description">
        <%= data.me.tagline %>
      </p>
      <div class="menu-group">
        <div class="menu-item link active" data-type="all">All</div>
        <div class="menu-item link" data-type="code">Code</div>
        <div class="menu-item link" data-type="essay">Essays</div>
        <div class="menu-item link" data-type="letter">Lettering</div>
        <div class="menu-item link" data-type="graphic">Graphic Design</div>
        <% link_to "/cv" do %>
          <div class="menu-item resume-menu link">Resume</div>
        <% end %>
      </div>
      <div class="contact-group social-icons">
        <% link_to data.me.instagram, target: "_blank" do %>
          <i class="link fa fa-instagram"></i>
        <% end %>
        <% link_to data.me.github, target: "_blank" do %>
          <i class="link fa fa-github"></i>
        <% end %>
        <% link_to data.me.linkedin, target: "_blank" do %>
          <i class="link fa fa-linkedin-square"></i>
        <% end %>
        <% link_to "mailto: #{data.me.email}" do %>
          <i class="link fa fa-envelope-o"></i>
        <% end %>
      </div>
    </section>
  </header>
</div>