<%= partial '/partials/navbar', active: "about" %>
<article class="cv">

  <section class="info-section basic-info">
    <h3 class="name"><%= data.me.name %></h3>
    <p class="address">2235 3rd Street, San Francisco, CA 94107</p>
    <p class="email">mewoph@icloud.com</p>
  </section>

  <section class="info-section education">
  </section>

  <section class="info-section work-experience">
  </section>

  <section class="info-section projects">
  </section>

</article>