<%= partial "/partials/sidenav" %>
<article class="home-content">

	<section class="info-section">
		<h4 class="section-header">Stories and Places</h4>
		<p class="section-intro"><%= data.items[0].description %></p>
	</section>


</article>
