<%= partial "/partials/sidenav" %>
<article class="home-content">
  <section class="info-section">
    <h4 class="section-header">WORDS</h4>
    <%= partial "/partials/image-tile", locals: { image: "/images/word_tile1.jpg"} %>
    <%= partial "/partials/image-tile", locals: { image: "/images/word_tile1.jpg"} %>
    <%= partial "/partials/image-tile", locals: { image: "/images/word_tile1.jpg"} %>
  </section>
</article>
