<%= partial "/partials/sidenav" %>
<article class="home-content">
	<section class="portfolio-grid">
		<% data.works.each do |work| %>
			<figure class="grid-item type-<%= work.type %>">
				<%= work.title %>
			</figure>
		<% end %>
	</section>
</article>
